body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:'Arial', Helvetica, sans-serif;
}

.dark-mode {
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    border: none;
    
  }
.button{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50px;
    margin-top: 0px;
    float: right;
    border: none;
}
  .toggle-icon{
    border-radius: 100%;
    width: 40px;
  }
.title{
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    font-weight:bold;
}
.moveIcon{
width: 160px;
border-radius: 80px;
}

.img-button{
text-align: center;
align-items: center;
border-radius: 80px;
border-spacing: 20px;
margin-right: 50px;
margin-top: 5px ;
margin-bottom: 30px;
border-color: rgb(0, 0, 0);
cursor: pointer;
}

.js-result{

font-size: 30px;
}

.js-moves{

font-size: 25px;
margin-top: 20px;
margin-bottom: 40px;
}

.Reset-button{
height: 40px;
width: 160px;
border-radius: 50px;
border: none;
font-size: 15px;
}

.Reset-button:hover {
background-color: rgb(51, 47, 47);
color: rgb(204, 193, 193);
}
